@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scrollbar-width: none;
}
body {
  background-color: #0f172a;
  color: white;
}
@media (max-width: 768px) {
  .openMenu {
    padding: 1rem 0;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
}
.active {
  color: #7c3aed;
}
